.logo {
  background: url('../img/logo_mineduc.jpg') no-repeat;
  text-indent: -999999px;
  height: 200px;
}
.cabecera-txt {
  padding-top: 85px;
}
.carrusel-banners li {
  float: left;
  padding: 0 5px;
  list-style: none;
}
.footer {
  background-color: #ccc;
  padding-top: 10px;
}
.nav-footer li {
  float: left;
  padding-left: 5px;
  list-style: none;
}
